<div class="page_title">
<h1>ジャンル名編集</h1>
</div>

<div class="container">
<div class="row" style="text-align: center;">


<%= form_for(@genre) do |f| %>

  <%= f.text_field :name %><br><br><br>

  <%= f.submit 'ジャンル名変更', class: "btn btn-primary" %>

<% end %>

<p></p>



</div>
</div>
