<div class="container-fluid">
	<div class="row">

		<h1 class="text-center mt-10">卍 ご注文を受け付けました！! 卍</h1>
		<%= link_to "TOPページへ", root_path, class: "btn btn-warning col-md-4 col-md-offset-1 link_btn" %>
		<%= link_to "マイページへ", user_path(current_user.id), class: "btn btn-info col-md-4 col-md-offset-2 link_btn" %>

	</div>
</div>