<div class="container-fluid">
	<div class="row">
		<div class="delivery_address col-8">
			<h2>お届け先選択</h2>
			<%=# form_for @select do |f| %>
			<label>
			<%=# f.radio_button :select, true %>"登録先"
			</label>
			<label>
			<%=# f.radio_button :select, false %>"登録先以外に送る"
			</label>
			<%#end %>
		</div>
	</div>

</div>
