<div class="container-fluid">
	<div class="row">
		<h1>カート商品一覧</h1>
		<% if user_signed_in? %>

		<%# if @user.items == nil || [] %>
			<h1 class="text-center">カート内に商品はまだありません。</h1>
		<% else %>
			<div class="cart_items col-md-8 col-md-offset-2 clearfix">
				<%= image_tag 'sample.jpg', class: "cart_item_image" %>
				<div class="cd_info ">
					<p>CDタイトル：ぶっ生き返す</p>
					<p>アーティスト名：マキシマム ザ ホルモン</p>
					<p>レーベル名：バップ</p>
					<p>価格：1000円</p>
				</div>
				<div class="subtotal">
					<p>数量： 10枚</p>
					<p>小計： 10000円(税込)</p>
				</div>
			</div>
			<%= link_to "ご購入手続きへ", "/users/:id/buy", class: "btn btn-danger col-md-6 col-md-offset-3" %>
		<% end %>
	</div>
</div>


