<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="userindex-title">ユーザ一覧</h2>

			<table class="userindex jscroll">
				<thead>
					<tr>
						<th>ユーザID</th>
						<th>ユーザ名</th>
						<th>ステータス</th>
						<th>ユーザ詳細</th>
						<th>ユーザ編集</th>
						<th>ユーザ退会</th>
						<th>権限</th>
					</tr>
				</thead>
				<tbody class="page">
					<%= render partial:'user', collection: @users %>
                </tbody>
			</table>

			<%= paginate @users %>

		</div>
	</div>
</div>

<%= javascript_include_tag "users.js" %>