/*
 * This is a manifest file that'llscss be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/* header&footerを固定するために必要 */
body {
	padding-top: 30px;
	padding-bottom: 60px;
}

/* headerレイアウト変更用↓↓ */
.卍header {
	font-size: 50px;
}
.nav .btn {
	margin-right: 20px;
}
.form-group input {
	width: 100%;
}

.alert{
	margin-top: 30px;
	width: 100%;
	text-align: center;
}

/* footerレイアウト変更用↓↓ */
.卍footer {
	font-size: 50px;
}
.welcome-message {
	margin-right: 20px;
}
.footer-terms {
	width: 200px;
	padding-top: 15px;
	display: inline-block;
}
#navbarfooter {
	text-align: center;
}

.page_title{
  margin-left: 3%;
  padding-top: 20px;
}
