/*
 * This is a manifest file that'llscss be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require validationEngine.jquery
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/* header&footerを固定するために必要 */
body {
	padding-top: 30px;
	padding-bottom: 60px;
	background-image: image-url("background.jpg");
	background-size: cover;
}

/* headerレイアウト変更用↓↓ */
.卍header {
	font-size: 50px;
}
.nav .btn {
	margin-right: 20px;
	color: #337ab7;
	margin-top: 8px;
}
.form-group input {
	width: 100%;
}

.search-form{
	text-align: left;
	margin-top: 8px;
}

.search .search-label{
	padding-left: 10px;
}

.search .selectbox{
	padding-top: 10px;
}

.search .field{
	width: 45%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.search .search-btn{
	width: 12%;
}

.search .input-group-btn{
	display: inline-block;
	position: relative; right: 4px;
}

// フラッシュメッセージ
.alert{
	margin-top: 30px;
	width: 100%;
	text-align: center;
}

// deviseのフラッシュメッセージをbootstrap適用
$ng_alert_bg_color: #f2dede;
$ng_alert_border_color: #eed3d7;
$ng_alert_color: #b94a48;
$ok_alert_bg_color: #dff0d8;
$ok_alert_border_color: #d6e9c6;
$ok_alert_color: #468847;

.alert-alert {
  background-color: $ng_alert_bg_color;
  border-color: $ng_alert_border_color;
  color: $ng_alert_color;
  text-align: center;
}
.alert-notice {
  background-color: $ok_alert_bg_color;
  border-color: $ok_alert_border_color;
  color: $ok_alert_color;
  text-align: center;
}


/* footerレイアウト変更用↓↓ */
.卍footer {
	font-size: 50px;
}
.welcome-message {
	margin-right: 20px;
}
.footer-terms {
	width: 200px;
	padding-top: 15px;
	display: inline-block;
}
#navbarfooter {
	text-align: center;
}

.page_title{
  margin-left: 3%;
  padding-top: 20px;
}
