// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link { color: black; }
a:visited { color: black; }
a:hover { color: black; }
a:active { color: black; }

.main_visual {
	background-image: image-url(/images/manzi.jpeg);
	background-size: cover;
}
.headline h1 {
	padding-top: 20px;
	color: deeppink;
	font-family: Comic Sans MS;
	font-size: 50px;
}

/* トップページのランキング表示レイアウト調整用 */

.headline {
	width: 100%;
	text-align: center;
}

.top-ranking {
  width: 90%;
  margin: 0 auto;
}


#tab-menu li {
  float: left;
  list-style-type: none;
  width: 14.28%;
}

#tab-menu a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  // border: 1px solid #000;
  border-bottom: 5px solid lightgray;
  border-radius: 10px;
  font-family: Comic Sans MS,"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  // background-color: white;
}

#tab-menu .active {
  background-color: transparent;
  border-bottom: none;

}

#tab-contents .tab {
  padding: 30px;
  background-color: #fff;
  // border: 1px solid #000;
  border-radius: 10px;
  border-top: none;
  background-image: image-url(/images/Ranking_img.jpeg);
  background-size: cover;
  // border-color: salmon;
}

.rank {
	margin-top: 30px;
	width: 25%;
	height: 320px;
	text-align: center;
	margin-left: 5%;
	display: inline-block;
	font-family: Comic Sans MS,"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
.rank h1 {
	margin: 5px 0;
}

.jacket_image {
	width: 70%;
	height: 200px;
	margin: 10px auto 10px auto;
}
.see_more {
	margin-left: 3%;
}


/* トップページの下段コンテンツのレイアウト調整 */

.bottom-contents {
	width: 90%;
	margin-top: 40px;
}
.items_link {
	height: 400px;
	border-radius: 20px;
	margin-left: 1%;
	background-color: white;
	font-family: Comic Sans MS,"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
	padding: 20px;
	line-height: 50px;
	background-image: image-url("blue_ink.jpeg");
	background-size: cover;
    // color: lightcoral;
    // border-color: salmon;
}
.item_contents {
	display: block;
	font-size: 35px;
}
.item_genres {
	font-size: 20px;
}
.item_genres li {
	margin-left: 20%;
}

.new_items {
	height: 400px;
	border-radius: 20px;
	margin: 0 3%;
	background-color: white;
	font-family: Comic Sans MS,"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
	background-image: image-url("ink_splash.jpeg");
	background-size: cover;
    // color: deeppink;
    // border-color: salmon;
}
.new_item_info {
	margin-top: 20px;
}

.new_item_block{
    margin-top: 10px;
    margin-left: 5%;
    text-align: center;
}

.new_item_image {
	margin: 20px auto 5px auto;
	width: 100%;
}


.store_info {
	height: 400px;
	border-radius: 20px;
	background-color: white;
	font-family: Comic Sans MS,"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
	background-image: image-url("blue_ink.jpeg");
	background-size: cover;
    // color: lightcoral;
    // border-color: salmon;
}
.store_image {
	width: 40%;
	padding-top: 40%;
	margin-left: 5%;
	margin-bottom: 10px;
	// border: 1px solid #000;
	background-image: image-url("store.jpeg");
	background-size: cover;
	display: inline-block;
	border-radius: 10px;
}
.map_image {
	width: 40%;
	padding-top: 40%;
	margin-left: 5%;
	margin-bottom: 10px;
	// border: 1px solid #000;
	background-image: image-url("map.png");
	background-size: cover;
	display: inline-block;
	border-radius: 10px;
}
.store_info p {
	font-size: 20px;
	margin-left: 10%;
}
