// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 新規登録・ログイン・ユーザ情報編集画面
.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.form-address .form-control{
	width: 80%;
}

.btn-square{
    width: 100%;
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #ff8c00;
	color: #fff;
	border-bottom: solid 4px #d2691e;
	border-radius: 8px;
}

.btn-square:hover{
	color: #ffe4c4;
}

.btn-square:active{
	-webkit-transform: translateY(4px);
	transform: translateY(4px);/*下に動く*/
	border-bottom: none;/*線を消す*/
	color: #fff;
}

.login-guide{
	margin-top: 20px;
	font-size: 10px;
}

.signup-guide{
	margin-top: 20px;
	font-size: 9px;
}

.form li{
	margin-top: 12px;
	margin-left: 36px;
}

.form-group{
	margin-left: 36px;
}

.mypage-edit .btn{
	margin-top: 50px;
}


// エンドユーザ側マイページ画面
.userinfo-table{
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
	margin-top: 60px;
}

.userinfo-table th{
	text-align: center;
	padding: 7px 0;
	border-right:solid 1px #ddd;
	border-left:solid 1px #ddd;
	background-color: #dcdcdc;
}

.userinfo-table .table-left{
  text-align: left;
  padding: 7px;
  border-left:solid 1px #ddd;
  border-bottom:solid 1px #ddd;
  width: 100%;
  background-color: #f5f5f5;
}

.userinfo-table .table-right{
  text-align: left;
  padding: 7px;
  border-right:solid 1px #ddd;
  border-bottom:solid 1px #ddd;
  width: 100%;
  background-color: #f5f5f5;
}

.buyhistory-mypage{
	margin-left: 10%;
}

.buyhistory-mypage .btn{
    width: 16%;
}

.overcount{
	margin-left: 10px;
	display: inline-block;
}

.withdraw-btn{
	width: 10%;
	height: 32px;
	padding: none;
	font-size: 5px;
	text-align: center;
	color: #fff;
	background-color: #ffeeff;
	border: none;
	border-radius: 10px;
	margin-top: 10px;
}

.withdraw-btn:hover{
	background-color: #dc143c;
	color: #fff;
}

.withdraw-btn:action{
	background-color: #800000;
}

.mypage h3{
	margin-top: 50px;
}

.mypage h4{
	margin-top: 20px;
	margin-left: 20px;
}

// admin側マイページ画面
.admin-mypage h3{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.second-box .btn{
    white-space: normal;
    height: 70px;
}

.first-box{
	text-align: center;
}

.second-box{
    text-align: center;
	margin-top: 60px;
}

.btn-admin{
	height: 45px;
	line-height: 45px;
}


// 購入履歴ページ
.buyitem-block{
	cursor: pointer;
	display: inline-block;
	margin: 10px;
	margin-bottom: 60px;
}

.buyitem-artist{
	margin-top: 10px;
	text-align: center;
}

.buyitem-name{
	margin-top: 5px;
	text-align: center;
}

.buyhistory h2{
	margin-top: 60px;
}

.buyhistory h3{
	margin-top: 60px;
}

.buyhistory .buystatus{
	font-size: 20px;
	padding-left: 20px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

// 退会画面
.withdraw h2{
	margin-bottom: 20px;
}
.withdraw p{
	padding-left: 20px;
}
.withdraw .form{
	margin-top: 30px;
}

.withdraw .btn{
	margin-top: 50px;
}

/*  カート詳細画面レイアウト編集用  */
.cart_main_visual h1 {
	margin: 40px;
}
.cart_items {
	padding: 10px;
	border: 1px solid #000;
	margin-bottom: 100px;
	background-color: #fafafa;
}
.cart_item_image {
	width: 20%;
	float: left;
}
.cd_info {
	margin: 3rem 5rem 0 5rem;
	float: left;
}
.cd_info p {
	margin-bottom: 2rem;
}
.subtotal {
	margin-top: 12rem;
	margin-right: 10rem;
	float: right;
}
.subtotal p {
	margin-top: 2rem;
}
.num_field {
	width: 5rem;
	margin-right: 2rem;
}
.delete_btn {
	float: right;
	margin-top: 17rem;
}

/*  購入画面レイアウト調整用  */
.buy-box{
	margin-top: 50px;
    border: 1px solid #000;
    background-color: #fafafa;
}


.delivery_address {
	height: 500px;
}
.buy_items {
	margin: 2rem;
}
.buy_items:nth-child(1) {
	margin-top: 5rem;
}
.shipping_fee {
	margin: 5rem 0;
}
.t-price span{
	font-size: 30px;
	margin-left: none;
}
.delivery_target {
	margin-top: 50px;
	border: 1px solid #000;
	background-color: #fafafa;
}
.payments {
	margin-top: 50px;
	border: 1px solid #000;
	background-color: #fafafa;
}
.filed {
	margin-bottom: 2rem;
}
.payments div {
	margin-bottom: 5rem;
}
.confirm_btn {
	margin-top: 4rem;
}

/* 購入前確認画面用 */
.buy_headline {
	margin-top: 4rem;
}
.buy_btn {
	margin-top: 4rem;
}


// ユーザ一覧画面
.userindex {
	margin: 30px;
}

.userindex-title{
	margin: 50px;
}

.userindex tr{
	border-bottom: 1px solid #000;
}


.userindex th{
	text-align: center;
	height: 30px;
	width: 12%;
}

.userindex td{
	text-align: center;
	height: 30px;
	width: 12%;
}

.userindex .name{
	text-align: left;
	height: 30px;
	width: 12%;
}