// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/*  カート詳細画面レイアウト編集用  */
.cart_main_visual h1 {
	margin: 40px;
}
.cart_items {
	padding: 10px;
	border: 1px solid #000;
	margin-bottom: 100px;
}
.cart_item_image {
	width: 20%;
	float: left;
}
.cd_info {
	margin: 3rem 10rem 0 10rem;
	float: left;
}
.cd_info p {
	margin-bottom: 2rem;
}
.subtotal {
	margin-top: 12rem;
	margin-right: 10rem;
	float: right;
}
.subtotal p {
	margin-top: 2rem;
}
.num_field {
	width: 5rem;
	margin-right: 2rem;
}
.delete_btn {
	float: right;
	margin-top: 17rem;
}

/*  購入画面レイアウト調整用  */
.delivery_address {
	height: 500px;
}

